.nothing__main-content {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;

  @media (min-width: 768px) {
    height: 100vh;
  padding: 0;

  }
}

p {
  text-align: center;
}
